.links {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glowButton {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin: 1rem;
    
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

@keyframes glowPulse {
    from {
        filter: blur(0.8rem);
        opacity: 0.5;
    }

    to {
        filter: blur(1.0rem);
        opacity: 0.6;
    }
}

.glow {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-self: center;
    top: 0px;
    left: -1%;
    width: 102%;
    height: 100%;

    z-index: -1;
    opacity: 0.5;
    filter: blur(0.8rem);
    transition: transform 1.0s;
    transform: scale(1);

    animation-duration: 2s;
    animation-name: glowPulse;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.glowButton:hover .glow {
    transition: 0.5s;
    transform: scale(1.15);
}

.text {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: .5rem 1rem .5rem 1rem;
    border-width: .1rem;
    width: 100%;
    height: 100%;

    font-family: inherit;
    border-style: solid;
    border-radius: .5rem;

    cursor: pointer;
}