.modal {
    display: none;
    position: fixed;

    justify-content: center;
    align-items: center;

    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    padding: 1rem;
    width: 70vw;
    height: 90vh;

    color: white;
    overflow: hidden;
}

#modal-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.close-button-container {
    display: flex;
    justify-content: right;
}

.close-button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 2.0rem;
    cursor: pointer;
}

#modal-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;

    overflow: hidden;
    padding: .5rem;
    max-height: 100%;
}

#modal-right {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    flex-grow: 2;
    flex-basis: 0;
}

.modal-image-container {
    margin: 1rem auto;
    display: block;
    max-width: 100%;
    max-height: 50vh;
    overflow: hidden;
}

.modal-image-container img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

#modal-purpose {
    margin-top: 0.2rem;
    background-color: rgba(0, 0, 0, 0);
    max-height: fit-content;
}

#modal-title {
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
}

.modal-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.modal-nav-group {
    margin-top: 0.5rem !important;
}

.modalButton {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);
    transition: text-decoration-color 0.2s ease;
}

.modalButton:hover {
    text-decoration-color: white;
}

.modalButton>div {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    border: 0.1rem solid white;
    background-color: rgba(0, 0, 0, 255);
    padding: 1rem;
    margin: 0.25rem;
    gap: 1rem;
}

.modalButtonSymbol {
    width: 2rem;
    display: inline-block;
    overflow: hidden;
}

.modalButtonSymbol img {
    filter: invert(100%);
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.modal-button-text {
    align-self: center;
    font-size: 1.2rem;
}

@media (orientation: landscape) {
    #modal-details {
        flex-direction: row;
        gap: 1rem;
    }

    #modal-left {
        display: flex;
        flex-direction: column;
        max-height: fit-content;
    }
}