#header {
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 1rem;
    align-self: flex-start;
    font-size: 15rem;
    font-stretch: condensed;
    text-align: center;
    font-family: atami-display;
}

.subscript{
    margin-left: 1rem;
    align-self: flex-start;
    font-size: 2rem;
    text-align: left;
    font-family: jost-semi;
}

.networking .glow {
    background: aquamarine;
}

.networking .text {
    background-color: black;
    color: white;
    border-color: aquamarine;
}