.header {
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (orientation: landscape) {
    .header{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    #pfpContainer{
        max-width: 30vh !important;
        min-width: 20vh !important;
    }
}

#headerBackground {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/homebackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    display: flex;
    flex-direction: column;
}

#pfpContainer {
    margin: 0rem 1rem 0rem 1rem;
    display: inline-block;
    max-width: 20vw;
    min-width: 10vw;
    overflow: hidden;
    transform: rotate(-5deg)
}

.subscript {
    overflow-wrap: anywhere;
    font-size: 2rem;
    text-align: left;
    font-family: jost-semi;
}

#lowerBody {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-top: 1rem;
}

#pfp {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.main {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


#bio {
    overflow-wrap: anywhere;
}

.links {
    display: flex;
    flex-grow: 5;
    flex-shrink: 0;

    justify-content: center;
}

.networking .glow {
    background: aquamarine;
}

.networking .text {
    background-color: black;
    color: white;
    border-color: aquamarine;
}