/* .exampleClass {
    position: relative;
    padding: 1px;
    border-radius: 8px;
} */

/* 
.exmapleClass div {
    filter: blur(1px);
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: opacity 1.5s ease;
    background: linear-gradient(91.83deg, rgb(208, 60, 74) 2.26%, rgb(172, 74, 218) 95.81%);
    animation: 10s ease-in-out 0s infinite normal both running pulse;
    opacity: 0.75;
}

.exampleClass span {
    padding: 12px 24px;
	background-color: white;
	position: relative;
	color: black;
	border-radius: 8px;
	cursor: pointer;
	transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    box-sizing: border-box;
} */

span {
    box-sizing: border-box;
}

.c-fukgwi {
    height: 120px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.button {
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: 0rem;
    height: 2.5rem;
    width: 5rem;
}

.glow {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;        
    height: 100%;   
    border-radius: 0.1rem;
    filter: blur(1rem);
    transition: opacity 1.5s, transform 1.5s;
    background: #8500bd;
    animation: 10s ease-in-out infinite both button;
    transform: scale(1);
    opacity: 0.5;
}

.button:hover .glow {
    transition: 0.5s;
    opacity: 1;
    transform: scale(1.05);
}

.text {
    font-family: inherit;
    background-color: #212121;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #8500bd;
    border-style: solid;
    border-width: .1rem;
    width: 100%;
    height: 100%;   
    position: relative;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    /* transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1); */
}