#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
    padding: 3rem;
    justify-content: space-evenly;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    outline-width: 0.1rem;
    outline-style: solid;
    outline-color: white;
    padding: .75rem;
    aspect-ratio: 8/11;
    min-width: 14rem;
    min-height: 10rem;

    z-index: 0;
    filter: saturate(80%) brightness(80%);
    position: relative;
    top: 0;
    transform: scale(1);
    transition: filter ease 0.2s, top ease 0.2s, transform ease 0.2s, z-index 0.0s;
}

.block:hover {
    z-index: 2;
    filter: saturate(100%) brightness(100%);
    top: -2rem;
    transform: scale(1.1)
}

.descrip {
    color: white;
    font-style: normal;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-grow: 10;
}

.thumbnail {
    margin-top: .25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: inline-block;
    max-width: fit-content;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}