#header{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;

    font-family: jost-medium;
}

#title {
    font-size: 3rem;
    line-height: 3.5rem;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    outline-width: 0.1rem;
    outline-style: solid;
    outline-color: white;
    padding: .75rem;
    aspect-ratio: 8/11;

    z-index: 0;
    filter: saturate(80%) brightness(80%);
    position: relative;
    top: 0; 
    transform: scale(1);
    transition: filter ease 0.25s, top ease 0.1s, transform ease 0.175s, z-index 0.0s;
}

.block:hover {
    z-index: 2;
    top: -1rem;
    filter: saturate(100%) brightness(100%);
    transform: scale(1.05)
}

.descrip {
    color: white;
    font-style: normal;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-grow: 10;
}

.thumbnail {
    margin-top: .25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: inline-block;
    max-width: fit-content;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.repository {
    margin: 0.25rem;
    text-decoration: none;
}

.repository .text {
    background-color: black;
    color: white;
    border-color: aquamarine;
}

.test{
    display: flex;
    flex-direction: row;
    justify-content: center;
}