.backButton {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2rem;

    position: relative;
    left: 0rem;
    transition: left 0.15s ease;
}

.backButton:hover {
    left: -0.75rem;
}

.header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.subscript {
    font-weight: lighter;
}

#pagedescrip {
    margin-top: 0.25rem;
    display: none;
}

@media (width>=700px) {
    #pagedescrip {
        display: flex;
    }
}

#lab-container {
    padding: 0.5rem 2rem 0.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    align-content: stretch;
}

@media (orientation: landscape) {
    .header {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    #lab-container {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.block {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    box-sizing: border-box;

    border: 0.1rem solid white;
    padding: 1rem;

    z-index: 0;
    filter: saturate(80%) brightness(80%);
    position: relative;
    top: 0;
    transform: scale(1);
    transition: filter ease 0.25s, top ease 0.1s, transform ease 0.175s, z-index 0.0s;
}

.block:hover {
    z-index: 2;
    top: -1rem;
    filter: saturate(100%) brightness(100%);
    transform: scale(1.05)
}

.block:hover>.labTitle {
    text-decoration: underline 0.1em white;
}

.labTitle {
    color: white;
    font-weight: bold;
    margin: 0rem auto 0.5rem auto;
    text-align: center;
}

.thumbnail {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    max-width: fit-content;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}
