#container {    
    margin-left: 1rem;
    margin-right: 1rem; 
    margin-top: 3rem;
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail{
    width: 5rem;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descrip {  
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 10;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    outline-width: 0.1rem;
    outline-style: solid;
    outline-color: #737373;
    margin: 1rem;
    border-radius: 2rem;
    min-width: 12rem;
    min-height: 16rem;
}