#container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    justify-content: left;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    border-radius: 1rem;
}

.descrip {
    color: white;
    font-style: normal;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-grow: 10;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    outline-width: 0.1rem;
    outline-style: solid;
    outline-color: #737373;
    margin: .666rem;
    padding: .75rem;
    border-radius: 2rem;
    aspect-ratio: 8/11;
    min-width: 14rem;
    max-width: 18rem;
    min-height: 10rem;
    max-height: 22rem;
}

.thumbnail {
    margin-top: .25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: inline-block;
    max-width: fit-content;
    overflow: hidden;
}